/*
Theme Name: Greig
Theme URI: http://greig.cc
Author: James Greig
Author URI: http://greig.cc
Description: How's it going? Not sure why you're reading this but hi anway.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:
Tags:
*/

@import url("tachyons.css");

/*Tachyons overrides*/

.serif {
    font-family: "athelas", georgia, times, serif !important;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    font-weight: 300;
}

input {
    border: 0;
}

.ml4rem {
		margin-left: 4rem;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .ml4rem {
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 30em) {
    .ml4rem {
        margin-left: 0 !important;
    }
}

.w3_5-ns {
    width: 5rem;
}

.mw700 {
    max-width: 700px;
}

.mw350 {
    max-width: 350px;
}

.absolute--fill-lr {
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0
}

.bg-bright-green {
    background-color: #8fffb4;
}


/*Basics*/

a, .highlight {
    color: #72cc90;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a:hover {
    color: #74dc97;
}

blockquote {
    font-style: italic;
}

blockquote+p {
    margin: 0 !important;
}

hr {
    height: 1px;
    border: none;
    background-color: #EEE;
}


/*Nav*/

@media screen and (max-width: 48em) {
    input[type=checkbox]:checked~#menu {
        display: block;
    }
}


/*Homepage*/

@media screen and (max-width: 48em) {
    h1 br {
        display: none;
    }
}

.home footer {
  display: none;
}


/*Articles*/

.article-body h2:first-child {
    margin-top: 0;
}

article p strong {
    font-weight: 600;
}

article ul {
    list-style-position: inside;
}

article img {
    max-width: 100%;
    height: auto;
}


/*Signups*/

form.mc4wp-form input {
    /*border: 0;*/
    padding: 10px;
}

form.mc4wp-form input[type="submit"] {
    background: #000;
    color: #FFF;
}

form.mc4wp-form-516 {
    text-align: center;
    background: #8fffb4;
}

form#newsletter-signup, form#signup-inpage {
    margin: 0;
}

.page-template-homepage .mc4wp-form-516 #newsletter {
    display: none;
}

.page-template-homepage .mc4wp-form-516 {
    text-align: left;
}

p#newsletter {
    font-size: 1.5rem;
}


/*Media Embeds*/

twitterwidget {
    margin: 15px 0;
}
