body {
/*	font-family: georgia, serif;*/
}

p { max-width: 28em; line-height: 1.5; font-size: 1rem; font-weight: 200; margin-bottom: 2em; }
    @media screen and (min-width: 48em) {
      p,ul { font-size: 1.5rem; }
    }