{# Text styles #}
{% set h2 = '<h2' %}
{% set h2_styled = '<h2 class="f3 f2-ns w6 mt5 mb4 normal sans-serif"' %}
{% set h3 = '<h3' %}
{% set h3_styled = '<h3 class="f4 f4-ns measure b lh-copy tl mt4 mb0 normal sans-serif"' %}
{% set pstring = '<p>' %}
{% set pstring_styled = '<p class="f4 f3-ns measure lh-copy tl">' %}
{% set blockquote = '<blockquote>' %}
{% set blockquote_styled = '<blockquote class="ma0 f4 f3-ns measure lh-copy tl">' %}
{% set cite = '<cite>' %}
{% set cite_styled = '<cite class="sans-serif tracked ttu normal f6 fs-normal">' %}
{% set ul = '<ul>' %}
{% set ul_styled = '<ul class="f4 f3-ns measure tl lh-copy pl0">' %}
{% set ol = '<ol>' %}
{% set ol_styled = '<ol class="f4 f3-ns measure tl lh-copy">' %}
{% set list_item_ = '<li>' %}
{% set list_item_styled = '<li class="lh-copy">' %}

{# Plugin styling #}
{% set newsletter = '<p id="newsletter">' %}
{% set newsletter_styled = '<p class="f4 f3-ns measure mb4 normal sans-serif tc lh-copy pa2 pa0-ns">' %}

{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}} serif Xdebug">
{% block nav %}
	{% include 'html-nav.twig' %}
{% endblock %}

<section id="content" class="center">
    {% block content %}{% endblock %}
</section>

{% block footer %}
    {% include 'footer.twig' %}
{% endblock %}
</body>
</html>
