<footer class="ph3 ph5-m ph6-l sans-serif bt b--light-gray mv5">
    <div id="footer-sidebar1">
        <?php if(is_active_sidebar('footer-sidebar-1')){ dynamic_sidebar('footer-sidebar-1'); } ?>
    </div>
    <p class="f7 mt2 black">I'm on
        <a href="http://twitter.com/j_greig" class="black">Twitter</a>
        and
        <a href="http://instagram.com/jamesgreig" class="black">Instagram</a>
        too. I'd wager you might enjoy <a href="http://bit.ly/greignews">my newsletter</a> most though.
    </p>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-41226144-1', 'auto');
  ga('send', 'pageview');
</script>

{{ function('wp_footer') }}
