{# This is actually the /articles or category listing #}
{% extends "base.twig" %}

{% set pstring = '<p>' %}
{% set pstring_styled2 = '<p class="mt0 f4 measure lh-copy m0">' %}

{% block content %}
    <div>
        <div class="mb5 ph3 ph5-m ph6-l w-100">
            <h1 class="mw7 mb0 f3 f2-m f1-l lh-title normal sans-serif">{{title}}</h1>
            {% if category_description %}
                {{ category_description|replace({ (h2): h3_styled, (pstring): pstring_styled }) }}
            {% else %}
                {{ pstring_styled2 }}My latest writing on design, freelancing and making stuff happen.<br>You can also <a href="https://gumroad.com/l/reset-your-brain">get my best posts as a free ebook</a>.</p>
            {% endif %}

            {# CATEGORY PROMO BLOCK
            {% if title|lower == 'freelancing' or 'writing' %}
              {% include 'promo-' ~ title|lower ~ '.twig' %}
            {% endif %}
            PROMO BLOCK ENDS #}
    </div>

    <div class="bt b--light-gray mv5">
        {% for post in posts %}
            <article class="mb5 ph3 ph5-m ph6-l">
                <a href="{{ post.link }}" class="link">
                    <h3 class="f3 f3-l mb2 lh-title center normal sans-serif lh-title">{{post.title}}</h3>
                </a>
                <p class="f4 mt0 measure lh-copy">
                    {{ post.get_preview(25, false, "") }}
                </p>
            </article>
        {% endfor %}
    </div>

    {% if pagination.next %}
        <div class="bt b--light-gray mv4 pt2 cf ph3 ph6-ns sans-serif cf">
            <div class="fl w-50">
                <a href="{{pagination.prev.link}}" class="link {{pagination.prev.link|length ? 'dib' : 'dn'}}">Newer</a>&nbsp;
            </div>
            <div class="fl w-50 tr">
                <a href="{{pagination.next.link}}" class="tr link {{pagination.next.link|length ? '' : 'white'}}">Older</a>
            </div>
        </div>
    </div>
{% endif %}

{% include 'html-newsletter.twig' %}

{% endblock %}
