<div id="topics" class="ph3 ph5-m ph6-l bg-light-gray pa4 flex flex-row items-stretch flex-wrap">
    <div class="xflex-auto w-100 w-25-l bg-light-gray pv4 vh-0 hx5 Xbg-pink">
        <h3 class="sans-serif f4 mb0">Browse by topic:</h3>
    </div>
    <div class="xflex-auto w-50 w-25-l bg-white pa4">
      <a class="link hover-dark-gray" href="/freelancing">
        <h3 class="sans-serif f4 mb0">Freelancing</h3>
        <p class="lh-copy f5">How to work for yourself without losing your marbles</p>
      </a>
    </div>
    <div class="xflex-auto w-50 w-25-l bg-light-blue pa4">
      <a class="white hover-red link" href="/graphic-design">
        <h3 class="sans-serif f4 mb0">Graphic Design</h3>
        <p class="lh-copy f5">Career advice and design tips for graphic designers.</p>
      </a>
    </div>
    <div class="xflex-auto w-50 w-25-l bg-washed-yellow pa4">
      <a class="gray link" href="/writing">
        <h3 class="sans-serif f4 mb0">Writing</h3>
        <p class="lh-copy f5">How to get started with writing, and then do it better.</p>
      </a>
    </div>
    <div class="xflex-auto w-100 w-25-l bg-light-gray pv4 vh-0 hx5 Xbg-pink">
    </div>
    <div class="xflex-auto w-50 w-25-l bg-light-green pa4">
      <a class="link hover-dark-gray white" href="/life">
        <h3 class="sans-serif f4 mb0">Life</h3>
        <p class="lh-copy f5">Thought experiments for amateur human and otherwise</p>
      </a>
    </div>
    <div class="xflex-auto w-50 w-25-l bg-light-pink pa4">
      <a class="white hover-red link" href="/popular">
        <h3 class="sans-serif f4 mb0">Greatest Hits</h3>
        <p class="lh-copy f5">Start by reading my most popular articles</p>
      </a>
    </div>
    <div class="xflex-auto w-50 w-25-l bg-white pa4">
      <a class="link hover-dark-gray" href="/devtools-for-designers">
        <h3 class="sans-serif f4 mb0">DevTools for Designers (an intro to HTML and CSS)</h3>
        <p class="lh-copy f5">Forgetting learning to code, and code to learn instead.</p>
      </a>
    </div>
</div>
