<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="h-100 no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/wp-content/themes/greig/style.css" type="text/css" media="screen" /> -->
    <!-- <link rel="stylesheet" href="{{site.theme.link}}/tachyons.css" type="text/css" media="screen" /> -->
    <!-- <link rel="stylesheet" href="{{site.theme.link}}/greig.css" type="text/css" media="screen" /> -->

    {{function('wp_head')}}

    <script src="https://cdn.rawgit.com/j-greig/ResponsiveVideoThing/134a6ed3/responsivevideothing.js"></script>
