<header class="dt tc pv2 pv4-ns pt5-ns xmw8 w-100 center">
    {% block header %}
        <div class="db dtc-ns mw4-ns w-auto-ns tc tl-ns">
            <a href="/">
                <svg class="dib w3_5-ns mrn ml4rem pl4-l" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="87" height="87" viewBox="0 0 87 87" version="1.1">
                    <title>
                        James Greig
                    </title>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="greig-logo" transform="translate(-725.000000, -72.000000)">
                            <g id="greig-logo-small" transform="translate(726.000000, 73.000000)">
                                <path
                                    d="M15.49 47.61L16.38 47.61 16.38 41.82 12.16 41.82 12.16 42.64 15.47 42.64C15.43 43.96 15.31 44.53 14.95 45.26 14.39 46.35 13.27 46.98 11.91 46.98 9.65 46.98 8.22 45.17 8.22 42.32 8.22 39.17 9.73 37.22 12.17 37.22 13.92 37.22 15.05 38.11 15.37 39.74L16.38 39.74C16 37.6 14.45 36.35 12.16 36.35 9.16 36.35 7.22 38.65 7.22 42.2 7.22 45.69 9 47.84 11.85 47.84 13.65 47.84 14.86 47.14 15.49 45.69L15.49 47.61Z"
                                    id="G"
                                    fill="#000000"/>
                                <polygon id="E" fill="#000000" points="39.22 47.61 46.26 47.61 46.26 46.79 40.14 46.79 40.14 42.32 45.76 42.32 45.76 41.5 40.14 41.5 40.14 37.41 46.04 37.41 46.04 36.59 39.22 36.59"/>
                                <path
                                    d="M39.16 17.33L40.08 17.33 40.08 12.37 42.2 12.37C43.72 12.37 44.28 12.7 44.65 13.78 44.78 14.13 44.85 14.49 45.06 15.89 45.16 16.55 45.25 16.89 45.43 17.33L46.42 17.33C46.26 16.99 46.19 16.77 46.1 16.23L45.97 15.38C45.56 12.93 45.28 12.45 43.97 11.99 45.29 11.69 46.15 10.63 46.15 9.31 46.15 8.43 45.79 7.64 45.18 7.08 44.55 6.53 43.8 6.31 42.52 6.31L39.16 6.31 39.16 17.33ZM40.08 11.52L40.08 7.1 42.39 7.1C44.22 7.1 45.19 7.88 45.19 9.34 45.19 10.69 44.19 11.52 42.55 11.52L40.08 11.52Z"
                                    id="R"
                                    fill="#000000"/>
                                <path
                                    d="M45.87 78.18L46.76 78.18 46.76 72.39 42.54 72.39 42.54 73.21 45.85 73.21C45.81 74.53 45.69 75.1 45.33 75.83 44.77 76.92 43.65 77.55 42.29 77.55 40.02 77.55 38.6 75.75 38.6 72.89 38.6 69.74 40.11 67.79 42.55 67.79 44.3 67.79 45.43 68.68 45.75 70.31L46.76 70.31C46.38 68.17 44.83 66.92 42.54 66.92 39.54 66.92 37.6 69.22 37.6 72.77 37.6 76.26 39.38 78.41 42.23 78.41 44.03 78.41 45.24 77.71 45.87 76.26L45.87 78.18Z"
                                    id="G"
                                    fill="#000000"/>
                                <polygon id="I" fill="#000000" points="72.44 47.61 73.37 47.61 73.37 36.59 72.44 36.59"/>
                                <g id="Group-19" transform="translate(0.000000, 0.037477)" stroke="#000000">
                                    <path d="M54.56 12.06C54.56 18.69 49.17 24.07 42.52 24.07 35.87 24.07 30.48 18.69 30.48 12.06 30.48 5.42 35.87 0.04 42.52 0.04 49.17 0.04 54.56 5.42 54.56 12.06Z" id="Stroke-1"/>
                                    <path d="M54.56 72.75C54.56 79.38 49.17 84.76 42.52 84.76 35.87 84.76 30.48 79.38 30.48 72.75 30.48 66.11 35.87 60.73 42.52 60.73 49.17 60.73 54.56 66.11 54.56 72.75Z" id="Stroke-3"/>
                                    <path d="M54.56 42.4C54.56 49.04 49.17 54.42 42.52 54.42 35.87 54.42 30.48 49.04 30.48 42.4 30.48 35.77 35.87 30.39 42.52 30.39 49.17 30.39 54.56 35.77 54.56 42.4Z" id="Stroke-5"/>
                                    <path d="M81.43 33.91C86.13 38.6 86.13 46.21 81.43 50.9 76.73 55.59 69.11 55.59 64.41 50.9 59.71 46.21 59.71 38.6 64.41 33.91 69.11 29.21 76.73 29.21 81.43 33.91Z" id="Stroke-7"/>
                                    <path d="M3.61 50.9C-1.1 46.21-1.1 38.6 3.61 33.91 8.31 29.21 15.93 29.21 20.63 33.91 25.33 38.6 25.33 46.21 20.63 50.9 15.93 55.59 8.31 55.59 3.61 50.9Z" id="Stroke-9"/>
                                    <path d="M20.63 33.91L34.01 20.55" id="Stroke-11"/>
                                    <path d="M42 30.39L42 24.07" id="Stroke-13"/>
                                    <path d="M54.56 42L60.88 42" id="Stroke-15"/>
                                    <path d="M64.41 50.9L50.95 64.33" id="Stroke-17"/>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <!-- <img src="{{site.theme.link}}/img/logo-greig.svg" class="dib w3_5-ns mrn ml4rem pl4-l" alt="James Greig"> -->
            </a>
        </div>
        <div class="db dtc-ns w-auto v-mid">
            <nav class="w-100 relative right-0-ns v-mid tr-ns sans-serif">
                {% include "menu.twig" with {'menu': menu.get_items} %}
            </nav>
        </div>
    {% endblock %}
</header>
{{function('edit_post_link', '.', '<div class="fixed right-1 top-1">', '</div>', '', 'link f7 pa2 gray')}}
