{{ post.content|replace ({
  (h2)          :h2_styled,
  (h3)          :h3_styled,
  (pstring)     :pstring_styled,
  (blockquote)  :blockquote_styled,
  (cite)        :cite_styled,
  (blockquote)  :blockquote_styled,
  (ol)          :ol_styled,
  (ul)          :ul_styled,
  (list_item_)  :list_item_styled,
}) }}
