{% if menu %}
	<label for="show-menu" class="show-menu highlight db dn-ns mv3 pointer">Menu</label>
	<input type="checkbox" id="show-menu" role="button" class="dn pointer">

	<ul id="menu" class="list mt0 pl0 menu-container dn db-ns prn pr3-m pr5-l">
		{% for item in menu %}
			<a class="dib w-100 w-auto-ns link black pt2 pb2" href="{{item.get_link}}">{{item.title}}
				{% if loop.last %}
				<li class="{{item.classes | join(' ')}} link dim dark-gray f6 f5-ns dib">
				{% else %}
				<li class="{{item.classes | join(' ')}} link dim dark-gray f6 f5-ns dib mr2-m mr4-l">
				{% endif %}
					{% include "menu.twig" with {'menu': item.get_children} %}
				</li>
			</a>
		{% endfor %}
	</ul>

{% endif %}
