{% block html_head_container %}
    {% include 'html-header.twig' %}
{% endblock %}

<body class="{{body_class}} serif Xdebug h-100">

    <div class="min-h-100 w-100 bg-bright-green sans-serif">
        {% include 'html-nav.twig' %}
        <div class="dt h-100">
            <div class="dtc v-top pt2 pt4-l cf">
                {{ post.content }}
            </div>
        </div>
    </div>

    {% block footer %}
        {% include 'footer.twig' %}
    {% endblock %}
</body>
</html>
