{% extends "base.twig" %}

{% block nav %}
{% endblock nav %}

{% if (post.landingpage_gradient == black) %}
{% set gradient = 'linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ),' %}
{% endif %}

{% block content %}
    <header class="vh-100 bg-mid-gray dt w-100">
        <div class="dtc v-mid cover ph3 ph4-m ph5-l center tc white gradient-blue-reversed" style="background: {{gradient}} url({{ site.theme.link }}/img/landingpages/{{ post.landingpage_image }})  no-repeat center center fixed; background-size: cover; ">
            <h1 class="f1 f-subheadline-l sans-serif mb0 mw700 center">
              {% if post.start_page_with_subtitle == 'Yes' %}
                  {{post.subtitle}}
              {% else %}
                  {{post.title}}
              {% endif %}
            </h1>
            {% if post.start_page_with_subtitle == 'No' and post.subtitle is not empty  %}
                <h2 class="">{{post.subtitle}}</h2>
            {% endif %}
						<div class="absolute bottom-2 f6 f4-ns pb4 absolute--fill-lr">
								<a href="#cta" class="link bg-black white pa3 pointer sans-serif">{{ post.landingpage_cta}}</a>
						</div>
        </div>
    </header>
    <div class="dt w-100 center">
  			<div class="pa2 pv4 w6 center measure" id="cta">
					{% include 'html-post-content.twig' %}
			</div>
    </div>

    <br><br><br><br>
    {% include 'html-nav.twig' %}

{% endblock %}

{% block footer %}
  {{ function('wp_footer') }}
{% endblock %}
