{% extends "single.twig" %}

{% block content %}
    <article>
        <h1 class="ph3 ph5-m ph6-l f1-ns lh-copy normal sans-serif">
            {% if post.start_page_with_subtitle == 'Yes' %}
                {{post.subtitle}}
            {% else %}
                {{post.title}}
            {% endif %}
        </h1>
        {% if post.start_page_with_subtitle == 'No' and post.subtitle is not empty  %}
            <h2 class="ph3 ph5-m ph5-l f2 lh-copy normal sans-serif">{{post.subtitle}}</h2>
        {% endif %}
        <div class="article-body ph3 ph5-m ph6-l">
            {% include 'html-post-content.twig' %}
        </div>
    </article>
{% endblock %}
