<div class="bg-lightest-blue mw5 pa4 mw350">
    <p class="f4 f3-ns sans-serif mv0">Before Going Freelance</p>
    <p class="f5 f56-ns">A free email course for anyone considering self-employment</p>
    <a class="button ph3 pv2 mb2 bg-black hover-bg-white br2 link dib white pointer hover-black" href="/beforegoingfreelance">I'm ready to make the jump</a>
</div>
