<div class="bg-bright-green mw5 pa4 mw350">
    <p class="f4 f3-ns sans-serif mv0">7 Days of Writing</p>
    <p class="f5 f56-ns">Want to make writing a habit?</p>
    <a class="button ph3 pv2 mb2 bg-black hover-bg-white br2 link dib white pointer hover-black" href="/beforegoingfreelance">Yes! I want to write</a>
</div>
