{% extends "base.twig" %}

{% block content %}
    <article class="pa3 pa5-m pa6-l pt2-l">

        <h1 class="mw7 f3 f1-m mb4 f1-l lh-title normal sans-serif lh-title">{{post.title}}</h1>
        <div class="article-body">

            {% include 'html-post-content.twig' %}

            <hr>

            <!-- <h4>Previous: <a href="{{post.prev.permalink}}">{{post.prev.title}}</a></h4>
            <h4>Next: <a href="{{post.next.permalink}}">{{post.next.title}}</a></h4>

            <hr> -->

            <p class="mt4">Posted to:
            {% for category in post.categories %}
                    <a href="{{ category.link }}">{{ category }}</a>
            {% endfor %}
            </p>

        </div>
    </article>

    {% include 'html-newsletter.twig' %}

    {% include 'html-topics.twig' %}

{% endblock %}
